.tasks-container {
    display: block;
    height: fit-content;
    width: 100vw;
    background-color: rgb(93, 151, 182);
}
.task-container {
    padding: 5px;
    display: block;
    height: fit-content;
    width: 300px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}
.task-description {
    display: block;
    height: fit-content;
    width: fit-content;
    margin: 10px;
}
.canban-column-content {
    display: flex;
    width: fit-content;
    flex-direction: column;
    height: fit-content;
}

.canban-column {
    display: block;
    width: fit-content;
    flex-direction: column;
    height: fit-content;
}

.canban-board {
    display: flex;
    width: fit-content;
    margin: auto;
}

.canban-column-description {
    display: block;
    margin: auto;
    width: 300px;
    text-align: center;

    background-color: gray;
}