
<button routerLink="/Tasks" routerLinkActive="active">Go back</button>
<div class="form">
    <form  #myForm="ngForm">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="taskForm.description" required>

        <label for="dropdown-status">Status:</label>
        <select id="dropdown-status" name="status" [(ngModel)]="taskForm.status">
            <option value="todo">To Do</option>
            <option value="doing">Doing</option>
            <option value="done">Done</option>
        </select>

        <label for="dropdown-functionality">Functionality:</label>
        <select id="dropdown-functionality" name="functionality" [(ngModel)]="taskForm.functionality">
            <ng-container *ngFor="let func of funcService.functionalities">
                <option value="{{func.id}}">{{func.description}}</option>
            </ng-container>
        </select>
        
        <button (click)="onSubmit()" >Submit</button>
    </form>
</div>