.functionality-list-container {
    display: block;
    height: fit-content;
    background-color: rgb(93, 151, 182);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 80vh;
}
.functionality-list {
    display: flexbox;
    height: fit-content;
    max-width: inherit;
    margin: 0;
}
.functionality {
    display: flex;
    height: fit-content;
    background-color: white;
    width: 80vw;
    margin: 10px;
    padding: 10px;
}
.task {
    margin-bottom: 5px;
    display: block;
    flex-direction: row;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}
.task-list {

    display: none;
    width: fit-content
}
.functionality-description {
    display: block;
    width: 200px;
}

.toggle-button {
    display: block;
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}

.task button {
    width: inherit;
    height: inherit;
    background-color: inherit;
    color: inherit;
    padding: 5px;
}